/* свойства типа Reset_normalize css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
}
label, input{
    cursor: pointer;
}
input[type="text"]{
    cursor: text;
}
a{
    text-decoration: none;   
}
/* свойства типа Reset css */

.footer{
    height: 81px;
    background-color: #669966;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto; 
    /* border: solid red 2px; по окончании верстки границу убрать */
}

/* этот элемент добавлен для вертикального выравнивания. В конце убрать границу, чтоб был невидим*/

.vert_spacer::before{ 
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
    border-right: 3px solid blueviolet;
}
.left_footer_bar{
    display: inline-block;
}
.right_footer_bar{
    margin-top: 24px;
    float: right;
}
.footer_text_style_1 a{
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    color: #DFDFDF;
    margin-right: 48px;
}
.footer_text_style_2 a{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 8px 8px 0;
}
.rectangle_1{
    display: inline-block;
    width: 1px;
    height: 18px;
    background: #D0D0D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 0 8px -2px 0;
}
.header_1{
    height: 169px;
}
img[alt="shop_logo"]{
    margin-bottom: -15px;
}
.contact_1{
    float: right;
    margin-top: 50px;
}
.contact_1 span{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    color: #636363;
}
.header_1 div.contact_1 > div{
    display: inline-block;
    margin-bottom: 8px;
}
div img[alt="phone_logo"]{
    vertical-align: middle;
}
.contact_1 span.phone_number_1{  
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #3F3F3F;
    text-shadow: 0px 4px 4px 
                rgba(0, 0, 0, 0.25), 
                    0px 4px 4px 
                rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}
form{
    float: right;
}
input[name="search_query"]{
    padding-left: 40px;
    width: 341px;
    height: 48px;
    background: #F3F3F3;
    border: 1px solid #EAEAEA;
    border-radius: 47px;   
    
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;    
    color: #AEAEAE;    
    margin-top: 53px;
    margin-right: 50px;
}
.header_2{
    height: 103px;
}

/* Начало стилизации селектора групп товаров */

.header_2 label{
    display: inline-block;
    vertical-align: top;
    padding-right: 55px;
}
.header_2 label:last-of-type{
    padding-right: 0px;
}
/* тег <a> поменять на <span> */

.header_2 span{    
    font-family: Open Sans;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    color: #636363;
}
input[name="product_check"]{
    display: none;
}
input[name="product_check"]:checked ~ div.prod_underscore::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    position: relative;
    top: 10px;

    background: #669966;
    border-radius: 26px;
}
.product_selection{    
    position: relative;
    display: inline-block;
}

/* Серая полоска под списком групп продуктов */

.product_selection::after{    
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -10px;
    left: 0;
    background: #F6F6F6;
    border-radius: 26px;
    z-index: -1;
}
/* тег <a> поменять на <span> */

input[name="product_check"]:checked + span{
    font-weight: 600;
}
/* Конец стилизации селектора групп товаров */

/* Футер закончен - начинается информационный баннер */

.banner1_info{
    position: relative;
    max-width: 1400px;
    height: 516px;
    margin: 0 auto;
    border: 1px solid red;
    background-image: url("../img/Tea_Time/bg_banner1_1x.jpg");
    background-repeat: no-repeat;
    background-position-y: -133px;
}
.banner1_header{
    position: absolute;    
    left: 300px;
    top: 137px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #3F3F3F;
}
.banner1_description{
    display: inline-block;
    position: absolute;
    width: 389px;
    left: 303px;
    top: 207px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    color: #999999;
}
.switch_arrow_L{
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 82px;
    top: 240px;
    transform: rotate(45deg);

    border-left: solid 2px #696969;
    border-bottom: solid 2px #696969;
    border-radius: 2px;
}
.switch_arrow_R{        
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    right: 82px;
    top: 240px;
    transform: rotate(45deg);

    border-right: solid 2px #696969;
    border-top: solid 2px #696969;
    border-radius: 2px;
}
.green_button{
    display: inline-block;    
    position: absolute;
    width: 305px;
    height: 53px;
    left: 303px;
    bottom: 100px;
    background: #669966;
    border-radius: 42px;

    font-family: Open Sans;
    font-size: 18px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}

/* Стилизуем селектор баннеров - четыре точки внизу баннера */

.banner_selection{    
    position: absolute;
    display: inline-block;
    height: 14px;
    bottom: 30px;
    left: 655px;
}
input[name="banner_selection"]{
    display: none;
}
input[name="banner_selection"]:checked ~ div.banner_circle_check::after{
    content: "";
    display: inline-block;

    width: 100%;
    height: 5px;
    position: relative;
    top: 10px;

    background: #669966;
    border-radius: 26px;
}
